<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <meta charset="UTF-8">
    <title>hw4</title>
    <script src="../static/jslib/jquery.min.js"></script>
    <script src="../static/js/myJS.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
   
    
    <link rel="stylesheet" href="../static/css/myCSS.css">
    <link rel="icon" href="../static/100.png">
</head>

<body>
    <div class="head">
        <input type="file" id="uploadFile" />
        <input type="button" id="displayFile" value="Upload" />
        <br />
        <br />
        <button id="area" style="background-color: lightpink;">Area </button>
        <button id="gender" style="background-color: lightpink;">Gender </button>
        <button id="group" style="background-color: lightpink;">Group</button>
        <button id="res" style="background-color: lightpink;">Reservation</button>
        <button id="age" style="background-color: lightpink;">Age</button>
        <button id="occ" style="background-color: lightpink;">Occupancy</button>
        <br />
    </div>
    <div id="display" style="position: absolute; width: 100%;left: 0%;">
    </div>
    <br /><br />

</body>


</html>