<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <meta charset="UTF-8">
    <title>hw4</title>
    <script src="../static/jslib/jquery.min.js"></script>
    <script src="../static/js/myJS.js"></script>
    <link rel="stylesheet" href="../static/css/myCSS.css">
    <link rel="icon" href="../static/100.png">
</head>

<body>
    </br>
    </br>
    <div style="text-align: center">
        <input type="file" id="uploadFile" />
        <input type="button" id="displayFile" value="Upload" />
        </br>
        </br>
        <button id="addRow" style="opacity: 0;">Add a Row</button>
        <button id="saveFile" style="opacity: 0;">Save File</button>
    </div>
    </br>
    </br>
    </br>
    <div id="display" style="position: absolute; width: 100%;left: 5%;">
    </div>
</body>

</html>